/* General */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;

}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
dl,
dd {
  margin: 0;
}

.logo {
    color: #bc986a;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
}

body {
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
  color: #191919;
  background-color: #fbeec1;
 
  counter-reset: theorem definition sidenote-counter;
  text-rendering: optimizeLegibility;


}

html {
    scroll-behavior: smooth;
    /*scroll.velocity: 90;*/
}

p {
    color:#bc986a;
    font-weight: bold;
}

/* transition */ 

a, .btn{
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, 
.nav-links { 
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem ;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #bc986a;
    text-decoration: none;
    text-decoration-color: #daad86;
}

a:hover {
    color: #daad86;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #daad86;
    /* text underline noted */
}

.logo {
    font-size: 2rem;
}

.logo:hover{
cursor: default;
}

/* hamburger menu */ 

#hamburger-nav {
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon { 
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    height:24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color:transparent;
    width: auto;
    max-height: 0;
    overflow: auto;
    transition: all 0.1 ease-in-out;
    color:#191919;
}

.menu-links a {
    display: block;
    padding: 2px;
    text-align: center;
    font-size: 1rem;
    color: #bc986a;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li { 
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

p {
    text-align: center;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  
 
  
  blockquote {
      border-left: #bc986a solid;
      font-style: italic;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      padding-left: 30px;
      position: relative;
      transform: translateX(28%);
      margin: 2rem;
      max-width: 90%; 
      overflow-x: auto;
      overflow-y: hidden;
      color: #bc986a;
      word-wrap: break-word; 
  }




  user agent stylesheet 
  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}



 




  /* About me section */

  h1:first-child {
    text-align: center;
}

.text-center {
    text-align: bottom;

}
h2, h3, h4, h5, h6 {
    margin-bottom: 0.8rem;
}
h3, h4, h5, h6 {
    line-height: 1.625rem;
}
h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 2.5rem;
    text-align: center;
    color: #bc986a;
}
article > * + * {
    margin-top: 1em;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: auto;
}


img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    transform: scale(.8); /* Adjust the value to scale (e.g., 0.75 for 75%) */
   margin-top: -2rem;
}  

.photo {
    width: 100%; 
    margin-left:auto;
    margin-right:auto;
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
}

@media (min-width: 475px){
    .photo {
    max-width:475px;
    }
}

@media (min-width: 640px){
    .photo {
    max-width:640px;
    }
}

@media (min-width: 768px){
    .photo {
    max-width:768px;
    }
}

@media (min-width: 1024px){
    .photo {
    max-width:1024px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .photo {
    max-width:1280px
    
    }
}



    
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.text-center {
    text-align: center;
   margin-top: -2rem;

}


























